@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&family=Maven+Pro&display=swap');

*{
  font-family: 'League Spartan', sans-serif;
}

@media (min-width:992px)
{
  .calculator{
    width: 500px;
    height: 600px;
    border: 1px  solid black;
    padding: 50px;
    top: 200px;
    left: 360px;
    position: relative;
  }
  
  .result{
    width: 400px;
    height: 100px;
    border: 1px solid black;
  }

  .buttonsPad{
    border: 1px solid black;
    margin-top: 20px;
    height: 340px;
    border-radius: 10px;
  }

  .buttons{
    font-size: 32px;
    padding: 0px 0px 0px 0px;
    border-radius: 10px;
  }


}
